body {
    background-color:rgb(246, 244, 241);
    margin: auto;
    padding: 0%;

}

p {
    text-align: center;
}

h1,h2{
    text-align: center;

 }

.italic {
    font-style: italic;

}

img {
    margin: 10px;
    background-color: aliceblue;
    border-radius: 5px;

}

figure {
    margin: auto;
    text-align: center;
    border: 19px 19px 19px solid white;
    background-color: white;

}

.line {
    width: 50%;
    margin: auto;
 
}

.line  ul {
    display: inline-flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}

.line li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2%;

}
